In [19]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [20]:
data = pd.read_csv('MovieProfanity.csv')

In [21]:
data

,Film,Genre,Year,Rated,Released,Runtime,Metascore,imdbRating,imdbVotes,imdbID,BoxOffice,A,B,D,F,S
0,A Monkey in Winter,Comedy,1962.0,NaN,31-Jan-63,105.0,NaN,7.6,2.0,tt0056636,NaN,0,0,0,0,0
1,Airplane II: The Sequel,Sci-Fi,1982.0,PG,10-Dec-82,85.0,48.0,6.2,47.0,tt0083530,NaN,1,0,7,2,4
2,Blast from the Past,Romance,1999.0,PG-13,12-Feb-99,112.0,48.0,6.6,57.0,tt0124298,NaN,3,6,12,4,6
3,"Bodies, Rest & Motion",Romance,1993.0,R,9-Apr-93,95.0,NaN,5.7,2.0,tt0106447,NaN,3,0,0,19,19
4,Boondock Saints ii: All Saints Day,Thriller,2009.0,R,11-Dec-09,118.0,24.0,6.3,60.0,tt1300851,NaN,20,7,4,115,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,The X-Files: Fight the Future,Sci-Fi,1998.0,NaN,10/13/1998,27.0,NaN,7.4,358.0,tt0365474,NaN,3,0,2,1,4
1161,Transformers: The Movie,Animation,1986.0,PG,8/8/1986,84.0,NaN,7.3,36621.0,tt0092106,NaN,0,0,2,0,0
1162,Wall-E,Animation,2008.0,G,6/27/2008,98.0,95.0,8.4,967549.0,tt0910970,223749872.0,0,0,0,0,0
1163,White Christmas,Musical,1954.0,Not Rated,11/15/1954,120.0,NaN,7.6,31174.0,tt0047673,NaN,0,0,0,0,0
1164,Withnail and I,Comedy,2006.0,NaN,NaN,15.0,NaN,5.3,17.0,tt0870218,NaN,0,1,1,38,1

In [22]:
#Normalizing based on Runtime
data['APM'] = data['A']/data['Runtime']
data['BPM'] = data['B']/data['Runtime']
data['DPM'] = data['D']/data['Runtime']
data['FPM'] = data['F']/data['Runtime']
data['SPM'] = data['S']/data['Runtime']

#Swears per minute

In [23]:
data.columns

Index(['Film', 'Genre', 'Year', 'Rated', 'Released', 'Runtime', 'Metascore',
       'imdbRating', 'imdbVotes', 'imdbID', 'BoxOffice', 'A', 'B', 'D', 'F',
       'S', 'APM', 'BPM', 'DPM', 'FPM', 'SPM'],
      dtype='object')

In [24]:
score = data[['BoxOffice','Genre','Year','Rated','A','B','D','F','S', 'APM','BPM','DPM','FPM','SPM']]
score = score.dropna()
score.loc[score['Rated'].isin(['NOT RATED', 'Passed', 'Unrated', 'PASSED','Approved']),'Rated'] = 'Not Rated'
score.loc[score['Rated'].isin(['TV-PG']),'Rated'] = 'PG'
score.loc[score['Rated'].isin(['TV-G']),'Rated'] = 'G'
score.loc[score['Rated'].isin(['TV-14']),'Rated'] = 'PG-13'
score.loc[score['Rated'].isin(['TV-MA','M','NC-17']),'Rated'] = 'R'

In [25]:
y = score['BoxOffice']
# X = score[['APM','BPM','DPM','FPM','SPM']] 
# X = score[['Year','A','B','D','F','S']] 
# X = score[['Year','APM','BPM','DPM','FPM','SPM']] 
# X = score[['APM','BPM','DPM','FPM','SPM','Genre']] 
# X = score[['A','B','D','F','S','Genre']] 
# X = score[['APM','BPM','DPM','FPM','SPM','Genre','Year']]
# X = score[['A','B','D','F','S','Genre','Year']] 

# X = score[['APM','BPM','DPM','FPM','SPM','Rated']] 
X = score[['Year','A','B','D','F','S','Rated']] 
# X = score[['Year','APM','BPM','DPM','FPM','SPM','Rated']] 
# X = score[['APM','BPM','DPM','FPM','SPM','Genre','Rated']] 
# X = score[['A','B','D','F','S','Genre','Rated']] 
# X = score[['APM','BPM','DPM','FPM','SPM','Genre','Year','Rated']]
# X = score[['A','B','D','F','S','Genre','Year','Rated']] 

# X = pd.concat([pd.get_dummies(X['Genre']), X], axis = 1)
# X = X.drop(['Genre'], axis = 1)

X = pd.concat([pd.get_dummies(X['Rated']), X], axis = 1)
X = X.drop(['Rated'], axis = 1)

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .8, random_state=42)

lin = LinearRegression()

linmod = lin.fit(X_train, y_train)
linpred = linmod.predict(X_test)

mean_squared_error(y_test,linpred)

1.238119940670462e+16

In [26]:
columnsList = []
columnsList.append(['APM','BPM','DPM','FPM','SPM'])
columnsList.append(['Year','A','B','D','F','S'])
columnsList.append(['Year','APM','BPM','DPM','FPM','SPM'])
columnsList.append(['APM','BPM','DPM','FPM','SPM','Genre'])
columnsList.append(['A','B','D','F','S','Genre'])
columnsList.append(['APM','BPM','DPM','FPM','SPM','Genre','Year'])
columnsList.append(['A','B','D','F','S','Genre','Year'])

columnsList.append(['APM','BPM','DPM','FPM','SPM','Rated'])
columnsList.append(['Year','A','B','D','F','S','Rated'])
columnsList.append(['Year','APM','BPM','DPM','FPM','SPM','Rated'])
columnsList.append(['APM','BPM','DPM','FPM','SPM','Genre','Rated'])
columnsList.append(['A','B','D','F','S','Genre','Rated'])
columnsList.append(['APM','BPM','DPM','FPM','SPM','Genre','Year','Rated'])
columnsList.append(['A','B','D','F','S','Genre','Year','Rated'])

In [27]:
mselist = []

for c in columnsList:
    X = score[c]
    y = score['BoxOffice']
    if 'Genre' in c:
        X = pd.concat([pd.get_dummies(X['Genre']), X], axis = 1)
        X = X.drop(['Genre'], axis = 1)
    
    if 'Rated' in c:
        X = pd.concat([pd.get_dummies(X['Rated']), X], axis = 1)
        X = X.drop(['Rated'], axis = 1)
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .8, random_state=42)
    
    lin = LinearRegression()

    linmod = lin.fit(X_train, y_train)
    linpred = linmod.predict(X_test)

    mselist.append(mean_squared_error(y_test,linpred))

In [28]:
np.min(mselist)

1.0847676112887742e+16

In [29]:
columnsList[mselist.index(np.min(mselist))]

['A', 'B', 'D', 'F', 'S', 'Genre', 'Rated']

In [30]:
X = score[columnsList[mselist.index(np.min(mselist))]]
if 'Genre' in c:
    X = pd.concat([pd.get_dummies(X['Genre']), X], axis = 1)
    X = X.drop(['Genre'], axis = 1)

if 'Rated' in c:
    X = pd.concat([pd.get_dummies(X['Rated']), X], axis = 1)
    X = X.drop(['Rated'], axis = 1)

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .8, random_state=42)

lin = LinearRegression()

linmod = lin.fit(X_train, y_train)
linpred = linmod.predict(X_test)

In [31]:
X

,G,Not Rated,PG,PG-13,R,Action,Adventure,Animation,Comedy,Crime,...,Romance,Sci-Fi,Thriller,War,Western,A,B,D,F,S
66,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,25,1,0
67,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,3,0,1,18,6
68,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,3,0,1,18,6
71,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,4,0,3,28,16
72,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,4,0,3,28,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1156,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,13,5,5,180,36
1157,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,7,1,5,26,15
1159,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,19,2,4,41,23
1162,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
lin.intercept_

79862114.22615407

In [33]:
lin.coef_

array([ 4.75974298e+07, -6.49664045e+07,  1.45237211e+07,  2.45862736e+07,
       -2.17410199e+07,  4.84231630e+06,  3.65265797e+07,  9.12784330e+07,
       -3.84396608e+07, -2.86420805e+07, -4.12902028e+07,  4.17765177e+07,
        1.22070342e+07, -2.79722941e+07, -3.52420612e+07, -1.38178763e+06,
       -3.67216382e+07,  2.13682369e+07, -1.17360721e+07, -7.82036743e+06,
        2.12470468e+07,  1.44237848e+06, -3.10933994e+05, -1.07005285e+06,
       -7.14521076e+04,  7.12990601e+05])

In [34]:
eq = []
eq.append(X.columns)
eq.append(lin.coef_)
eq = pd.DataFrame(eq)

In [35]:
eq.iloc[:,0:14]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,G,Not Rated,PG,PG-13,R,Action,Adventure,Animation,Comedy,Crime,Drama,Family,Fantasy,Horror
1,4.75974e+07,-6.49664e+07,1.45237e+07,2.45863e+07,-2.1741e+07,4.84232e+06,3.65266e+07,9.12784e+07,-3.84397e+07,-2.86421e+07,-4.12902e+07,4.17765e+07,1.2207e+07,-2.79723e+07

In [37]:
eq.iloc[:,14:28]

,14,15,16,17,18,19,20,21,22,23,24,25
0,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,A,B,D,F,S
1,-3.52421e+07,-1.38179e+06,-3.67216e+07,2.13682e+07,-1.17361e+07,-7.82037e+06,2.1247e+07,1.44238e+06,-310934,-1.07005e+06,-71452.1,712991